<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>כניסה למערכת</title>
    
</head>
<body>
<h1>כניסה למערכת ניהול משימות</h1>
<form action="" method="post">
    <label for="uname">שם משתמש</label>
    <input type="text" name="uname" id="uname" required>
    
    <label for="passwd">סיסמה</label>
    <input type="password" name="passwd" id="passwd" required>
    
    <button type="submit">כניסה</button>
</form>

<div class="register-link">
    <p>אין לך חשבון? <a href="/register">הרשם כאן</a></p>
</div>
</body>
</html>