<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add categorie</title>
</head>
<body>
<h1>Add categorie</h1>
<form action="" method="post">
    <label for="categorie_name">categorie name</label>
    <input type="text" name="name" id="categorie_name" value="<%= data.name %>" />
    <br>
    <button name="btn" value="1">send</button>
</form>
</body>
</html>